.signup__container {
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/34/33/wIfSzO.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup__form {
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, .8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
  border-radius: 10px;
}

.signup__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.signup__Image {
  width: 100px;
  height: auto;
}

.signup_link {
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
  color: white;
}

.alert {
  position: fixed;
  background-color: #f44336;
  text-align: center;
  top: 0px;
  width: 100%;
  padding: 10px;
  background-color: #f44336;
  color: white;
  font-family: 'MuseoModerno', cursive;
}

/* AVATAR */
.avatar__upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 10px 0px;
  gap: 20px;
}


.signup_avatar {
  height: 150px !important;
  width: 150px !important;
}

.signup_avatar img {
  transform: scale(1.2);
}


.signup__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 200px auto;
  width: 400px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
  gap: 20px;
  outline: none;
}

.Avatar__progress {
  width: 90%;
  height: 30px;
}

/* AVATAR END */


/* INPUT */
.inputBox {
  position: relative;
}

.inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #fff;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
  outline: none;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}

/* INPUT END */

/* BUTTONS */

.avatar__button {
  width: 40%;
  color: white;
  background-color: seagreen;
  font-family: 'Bungee', cursive;
  border: none;
  cursor: pointer;
}

.signup__button {
  position: relative;
  height: 50px;
  width: 100%;
  font-size: 20px;
  font-family: 'Bungee', cursive;
  background: #101f36;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 800ms ease all;
}

.signup__button:hover {
  background: #fff;
  color: #101f36;
}

.signup__button:before,
.signup__button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #101f36;
  transition: 400ms ease all;
}

.signup__button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.signup__button:hover:before,
.signup__button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.signup__uploadbutton {
  width: 70%;
  color: #8fc866;
  transition: 0.25s;
  border: none;
  cursor: pointer;
  background: none;
  border: 2px solid;
}

.signup__uploadbutton p {
  font-family: 'Bungee', cursive;
  margin: 0px
}

.signup__uploadbutton:hover,
.signup__uploadbutton:focus {
  box-shadow: inset 18.5em 0 0 0 #5cb85c;
}

.signup__uploadbutton:hover,
.signup__uploadbutton:focus {
  border-color: #5cb85c;
  color: #fff;
}

/* BUTTON END */

@media screen and (max-width: 800px) {
  .signup__container {
    margin-top: 0px;
  }

  .signup__form {
    padding-top: 50px;
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    margin: 0px;
  }

  .signup__modal {
    width: 95%;
  }

  .signup__uploadbutton {
    width: 50%;
    height: 30px;
    font-size: 16px;
  }

  .avatar__button {
    width: 50%;
    height: 30px;
    font-size: 16px;
  }


}
