.dashboard_avatar {
    height: 30px !important;
    width: 30px !important;
}

.dashboard_sidebaravatar {
    margin-top: 20px !important;
    height: 120px !important;
    width: 120px !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-toggle:focus {
    box-shadow: none !important;
}

.dropdown-toggle {
    background-color: #000000 !important;
    border: none !important;
}

.dashboard__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 50px;
}

.dashboard__main {
    display: flex;

}

.dashboard__sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    background-color: rgb(0, 0, 0, 0.9);
    width: 300px;
    height: 100%;
    font-family: 'MuseoModerno';
}

.dashboard__displayName {
    padding-top: 10px;
    color: white;
}

.sidebarButton_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.dashboard__hr {
    width: 95%;
    color: white;
}

.dashboard__sidebarButton {
    color: white;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dashboard__sidebarButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
}


.dashboard__posts {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
}

.responsive__suggestlist {
    height: 100%;
    padding-left: 10px;
    border-left: 1px solid lightgrey;
    background-color: #fafafa;
    right: 0px;
    width: 300px;
}

.responsive__container {
    display: none;
}

.responsivebtn {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .dashboard__sidebar {
        display: none;
    }

    .suggested__list {
        display: none;
    }

    .responsive__container {
        position: fixed;
        bottom: 10px;
        border: 3px solid black;
        justify-content: center;
        display: flex;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: white;
        width: fit-content;
        border-radius: 25px;
    }

    .responsive__suggestlist {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .suggested_content {
        width: 90%;
    }

    .navbar__linkbtn {
        display: none;
    }

    .responsive__btn {
        width: 70px;
        border: none;
        background-color: transparent;
        outline: none;
        border-right: 1px solid lightgray;
    }

    .responsive__postbtn::before {
        font-family: "Material Icons";
        content: "\e88a";
        font-size: 30px;
    }

    .responsive__profilebtn::before {
        font-family: "Material Icons";
        content: "\e8a6";
        font-size: 30px;
        height: 100px;
    }

    .following__button::before {
        font-family: "Material Icons";
        content: "\ea21";
        font-size: 30px;
        color: black;
    }

    .upload__button::before {
        font-family: "Material Icons";
        content: "\e2c6";
        font-size: 30px;
        color: black;
    }

    .responsive__suggestbtn::before {
        font-family: "Material Icons";
        content: "\ea4d";
        font-size: 30px;
    }

    .following__button p {
        display: none;
    }

    .following__button:hover {
        background: transparent !important;
    }

    .upload__button:hover {
        background: transparent;
    }

    .upload__button p {
        display: none;
    }
}